# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Log Files
*.log
logs/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nbproject/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
